<tr>
	<% if badge.image_url.present? %>
		<td class="align-middle col-md-3"><%= image_tag badge.image_url, size: '70x70', alt: "BadgeLogo" %></td>
	<% else %>
		<td class="align-middle col-md-3"><%= image_tag asset_path 'ruby.png' %></td>
	<% end %>
	<td class="align-middle"><%= badge.title %></td>
</tr>
