<div>
	<p><%= current_year %>
  <p>Автор: Шамьянов Руслан<p>
	<p>Github: <%= github_link('xhpshamyrus', 'Test-Guru') %><p>
	<p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: :_blank %><p>	
</div>